*{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.auth-nav{
    display: flex;
    gap: 20px;
}

#auth_button{
    border: 0px;
    padding: 10px;
    border-radius: 15px;
    width: 100px;
}
.auth{
    gap: 73%;
}
.non-auth{
    gap: 79%;
}